{% extends "base.html.twig" %}
{% block title %}Recommandations
{% endblock %}
{% block content_layout %}
	<section>
		{% include "parts/menu_media_type.html.twig" %}
		{% include "parts/movie/random_movie.html.twig" %}
	</section>
	{% include "parts/recommendation.html.twig" %}

	<section class="mt-9">
		<div class="flex items-center justify-between">
			<span class="font-semibold text-gray-700 text-base">Recommandations par catégories</span>
		</div>

		<div class="mt-4 grid grid-cols-2 gap-y-5 sm:grid-cols-3 gap-x-5">
			{% for category in categories %}
				{% include "parts/category_card.html.twig" %}
			{% endfor %}

		</div>
	</section>

{% endblock %}
