
<li class="mt-9">
	<div class="bg-gray-100 p-4 rounded-lg">
		<div class="flex items-center">
			<img src="https://random.imagecdn.app/100/100?a" class="w-10 h-10 rounded-full" alt="">
			<div class="ml-4 w-full">
				<span class="font-medium">{{comment.author.username}}</span>
				<span class="text-xs text-gray-500 flex items-center justify-between w-full">
					<span>Il y a {{ days_ago(comment.createdAt) }} jours</span> 
				</span>
			</div>
		</div>
		<p class="mt-4 w-full">{{comment.content}}</p>
	</div>
</li>
