<div class="max-w-3xl mx-auto mt-9">
	<h2 class="text-lg font-medium text-black">Résumé
		<span class="font-bold text-red-600">rapide</span>
	</h2>
	<p class="text-md mt-9">Shawn Spencer, un homme drôle et futé, a développé durant son enfance un talent pour remarquer les moindres détails grâce à l'enseignement de son père Henry Spencer, un ancien policier.</p>
</div>
