<div class="max-w-3xl mx-auto mt-9">
	<h2 class="text-lg font-medium text-black">
		<span class="font-bold text-red-600">Équipe</span>
		du film</h2>
	<ul class="mt-9 grid grid-cols-2 sm:grid-cols-4 gap-x-5 gap-y-5">
		{% include "/parts/movie/detail/actor_card.html.twig" %}
		{% include "/parts/movie/detail/actor_card.html.twig" %}
	</ul>
</div>
